
.nav{
    background-color: #004466;
}
.nav-menu {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: #004466;
    list-style: none;

}
.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.nav-link:hover {
    color: #9bbecf;
}
.hero {
    background-image: url('../images/hero3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #222;
    text-align: center;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.courses{
    text-align: center;
    background-color: #f5f7fa;
}
.course-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.features,.courses-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 4rem 2rem;
  background: #f5f7fa;
  text-align: center;
}

.feature-card, .course-card {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.testimonials {
    padding: 4rem 2rem;
  text-align: center;
}

.testimonial-card {
  background: #f5f7fa;
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-style: italic;
}
.join-us {
    background: #e0e7ef;
    padding: 4rem 2rem;
    text-align: center;
}
footer {
    background: #004466;
    color: white;
    padding: 2rem 0;
    text-align: center;
}
@media (max-width: 768px) {
    .hero {
        min-height: 50vh;
        padding: 0 1rem;
    }

    .features, .courses-grid {
        grid-template-columns: 1fr;
    }
   .nav-menu {
        flex-wrap: wrap; 
        justify-content: center;
        gap: 0.5rem;
   }
}